params {
  config_profile_name = 'desktop'
  config_profile_description = 'Linux desktop quadcore Intel CPU 64GB RAM'
  config_profile_contact = 'Geoff Stanley (@gmstanle)'
}
singularity.enabled=true
params { 
  max_memory = 32.GB
  max_cpus = 8 
  max_time = 24.h
  
  igenomes_base = "/storage/genomeRefs"  
}
