params {
  config_profile_name = 'sherlock'
  config_profile_description = 'Stanford Sherlock HPC'
  config_profile_contact = 'Geoff Stanley (@gmstanle)'
}

process.executor = 'slurm'
process.queue = 'quake,owners,normal'
params.tracedir = './'
singularity.enabled=true
params.igenomes_base = "/oak/stanford/groups/quake/shared/iGenomes"